[user]
  name = uzimith
  email = uzimith.x9@gmail.com
[github]
  user = uzimith
[core]
  editor = vim
	excludesfile = ~/.gitignore_global
[push]
  default = simple
[pager]
  diff =
[mergetool]
  keepBackup = true
[hub]
  protocol = https
[alias]
  co = checkout
  s = status --short
  a = add
  c = commit
  l = pull
  p = push
  rh = reset --soft HEAD
  rhh = reset --hard HEAD
  now = n
[url "git@github.com:"]
  pushinsteadof = https://github.com/
