.vim/bundle/*
!.vim/bundle/neobundle.vim
.vim/.session
.vim/.vimrc.secret
.vim/.netrwhist
\#*
.emacs.d/el-get
.emacs.d/ac-*
.emacs.d/eshell/*
.emacs.d/history*
.emacs.d/abbrev_defs
.emacs.d/stdafx.pch
.emacs.d/tramp
.emacs.d/shellenv.el
.emacs.d/stdafx.hpp
*~
*.elc

.vimperator/info/

.ssh/
.DS_store
tags
ssh_bk/

/.emacs.d/elpa/
