[user]
	name = uzimith
	email = uzimith.x9@gmail.com
[github]
	user = uzimith
[core]
	editor = vim
	excludesfile = /opt/boxen/config/git/gitignore
[push]
	default = simple
[diff]
	external= vimdiff
[pager]
	diff =
[mergetool]
	keepBackup = true
[hub]
	protocol = https
[alias]
    co = checkout
    s = status --short
[url "git@github.com:"]
	pushinsteadof = https://github.com/
